body{
    margin:auto;
}
.imageContainer {
    background: url('https://i.ibb.co/Cv6Y9NL/bg.jpg'); 
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
    border-style: solid;
    height: 410px;
    margin-left: 45px;
    margin-right: 42px;
}
.logo {
   width: 20%;
    background-color: beige;
    border-radius: 80%;
    text-align: center;
    font-weight: bold;
    height: 150px;
    width: 150px;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 30px;
    font-size: 90px;
}
.title {
    font-weight: bold;
    margin-bottom: 23px;
}